body{
	background-image: url('../img/shop2.jpeg');
}

.signup-form{ height: 800px; width: 100%;
 background:url(../img/shop2.jpg);
 background-size: contain; margin-top: 20px; text-align: center;}

	.form-box{ height: 650px; width: 60%; background-color: rgba(0,0,0,0.6); border-radius: 20px; box-shadow: 2px 2px 25px 5px white; text-align:center;  margin-top: 2%; margin-left: 20%; }

	.register{ font-size: 40px; color: white; margin-top: 60px; }
		.input{ height:40px; font-size: 15px; width:60%; text-align:center; margin:40px 0px 0px 0px; outline:none; border-bottom:5px solid white; background-color: transparent; color: white; border-top: none; border-right: none;  border-left: none;}
		.input:hover{ border-bottom:5px solid red; }

	::placeholder{ color: white; font-size: 18px; }
			.formbtn1{ height:40px; font-size: 20px; width:60%; text-align:center; margin:40px 0px 0px 0px; outline:none; border:none; color: white; border-radius: 10px; background-color: red;}
			.formbtn2{ height:40px; font-size: 20px; width:60%; text-align:center; margin:40px 0px 0px 0px; outline:none; border:none; color: white; border-radius: 10px; background-color: red;}
			.formbtn1:hover{ background-color: white; transform: scale(1.1); color:red;}
			.formbtn2:hover{ background-color: white; transform: scale(1.1); color:red;}
	/* mobile */
@media (max-width:768px) and (min-width: 0px){
 
.header{ height: 100px; width:100%; background-color: cyan; text-align: center; line-height: 100px; }
	.title{ color: black; font-size: 1rem; text-shadow:none; }

.footer{ height:60px; width: 100%; line-height: 30px; }
.footerh2{ font-size: 15px; color: cyan; }
.input{ border-bottom:4px solid black; }

.signup-form{ height: 800px; width: 100%; background:url(signupimg.jpg); background-size: contain; text-align: center;  }

	.form-box{ height: 650px; width: 100%; margin-left:0px; background-color: rgba(0,0,0,0.6); border-radius: 20px; box-shadow: 2px 2px 25px 5px white; text-align:center; }

	.input{ height:30px; font-size: 15px; width:40%; text-align:center; margin:10px 0px 0px 0px; outline:none; border-bottom:5px solid white; background-color: transparent; color: white; border-top: none; border-right: none;  border-left: none;}
	::placeholder{ color: white; font-size: 18px; }
			.formbtn1{ height:40px; font-size: 20px; width:40%; text-align:center; margin:40px 0px 0px 0px; outline:none; border:none; color: white; border-radius: 10px; background-color: red;}
			.formbtn2{ height:40px; font-size: 20px; width:60%; text-align:center; margin:40px 0px 0px 0px; outline:none; border:none; color: white; border-radius: 10px; background-color: red;}
			.formbtn1:hover{ background-color: white; transform: scale(1.1); color:red;}


}

/* tablets */
@media (max-width:1000px) and (min-width: 768px){
 
	.header{ height: 100px; width:100%; background-color: yellow; text-align: center; line-height: 100px; }
	.title{ color: black; font-size: 2rem; text-shadow:none; }

.footer{ height:150px; width: 100%; }
.footerh2{ font-size: 20px; color: yellow; }
.input{ border-bottom:4px solid black; }

.signup-form{ height: 800px; width: 100%; background:url(signupimg.jpg); background-size: contain; text-align: center;  }

	.form-box{ height: 650px; width: 80%; margin-left:80px; background-color: rgba(0,0,0,0.6); border-radius: 20px; box-shadow: 2px 2px 25px 5px white; text-align:center;  }

	.input{ height:30px; font-size: 15px; width:40%; text-align:center; margin:10px 0px 0px 0px; outline:none; border-bottom:5px solid white; background-color: transparent; color: white; border-top: none; border-right: none;  border-left: none;}
	::placeholder{ color: white; font-size: 18px; }
			.formbtn1{ height:40px; font-size: 20px; width:40%; text-align:center; margin:40px 0px 0px 0px; outline:none; border:none; color: white; border-radius: 10px; background-color: red;}
			.formbtn2{ height:40px; font-size: 20px; width:60%; text-align:center; margin:40px 0px 0px 0px; outline:none; border:none; color: white; border-radius: 10px; background-color: red;}
			.formbtn1:hover{ background-color: white; transform: scale(1.1); color:red;}

}
